<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #f2f2f2; height: 5em"
>
  {% include 'register.html' %} {% include 'login.html' %}

  <div class="container" style="max-width: 1440px">
    <a class="navbar-brand font-weight-bold" href="{{ url_for('home.index') }}"
      >AccFuse</a
    >

    <div class="ml-auto">
      <a class="nav-link d-inline-block text-dark" href="/help">Help</a>

      {% if user_logged_in %}
      <a
        class="nav-link d-inline-block text-dark"
        href="{{ url_for('dashboard.index') }}"
        >Dashboard</a
      >

      <!-- Logout Button -->
      <a
        class="nav-link d-inline-block text-dark"
        href="{{ url_for('user.logout') }}"
        >Logout</a
      >
      {% else %}
      <a
        class="nav-link d-inline-block text-dark"
        data-toggle="modal"
        data-target="#loginModal"
        href="#"
        >Login</a
      >
      <button
        type="button"
        class="btn btn-dark"
        data-toggle="modal"
        data-target="#registerModal"
      >
        Sign Up
      </button>
      {% endif %}
    </div>
  </div>
</nav>
