<!-- Large Modal -->
<div
  class="modal fade"
  id="largeTextImageModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="largeTextImageModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document" style="max-width: 1000px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="largeTextImageModalLabel">Modal Title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex">
        <!-- Text Block on the Left -->
        <div class="col-6 p-3">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            feugiat fermentum libero, ac facilisis nulla convallis non. Nullam
            cursus velit a ante congue, ac congue odio sollicitudin. Morbi nec
            est urna. Vivamus lacinia diam id diam vestibulum vehicula.
            Vestibulum in suscipit enim. Fusce aliquam neque sit amet dui
            efficitur, sed auctor libero elementum. Integer malesuada mi sit
            amet purus sagittis, et porta metus bibendum. Praesent ut lectus
            sapien. Suspendisse potenti. Nullam vehicula, leo a sollicitudin
            venenatis, purus ex finibus enim, et tincidunt purus odio ac erat.
            Vivamus fringilla pharetra dui a lobortis. Sed egestas tincidunt
            sapien, vel vestibulum tortor ornare et. Nam ut semper nunc, ut
            blandit felis. Nullam pretium mauris ut velit feugiat posuere.
          </p>
          <p>
            Suspendisse potenti. Nullam vehicula, leo a sollicitudin venenatis,
            purus ex finibus enim, et tincidunt purus odio ac erat. Vivamus
            fringilla pharetra dui a lobortis. Sed egestas tincidunt sapien, vel
            vestibulum tortor ornare et. Nam ut semper nunc, ut blandit felis.
            Nullam pretium mauris ut velit feugiat posuere.
          </p>
        </div>
        <!-- Image on the Right -->
        <div class="col-6 p-0">
          <img
            src="https://via.placeholder.com/500"
            alt="Placeholder Image"
            class="img-fluid h-100"
            style="object-fit: cover"
          />
        </div>
      </div>
    </div>
  </div>
</div>
