<section
  class="py-5 text-white"
  style="
    background: url('../static/src/3.jpg') center center/cover no-repeat;
    height: 45em;
  "
>
  <div
    class="container d-flex align-items-center justify-content-between"
    style="max-width: 1440px"
  >
    <!-- Left Side: Title, Description, Button -->
    <div class="mr-5" style="max-width: 450px">
      <h1
        class="display-4 font-weight-bold"
        style="text-shadow: 4px 4px 4px black"
      >
        Overview All Your Assets in One Place
      </h1>
      <p class="lead mb-4" style="text-shadow: 2px 2px 4px black">
        Take control of your finances with ease. Connect all your bank accounts,
        visualize your cash flow, and unlock insights to make smarter financial
        decisions. Start your journey to a clearer financial future today
      </p>
      <button
        type="button"
        class="btn btn-dark"
        data-toggle="modal"
        data-target="#registerModal"
      >
        Start Now for Free
      </button>
    </div>
  </div>
</section>
