<section
  class="py-5 text-white"
  style="
    background: url('../static/src/3.jpg') center center/cover no-repeat;
    height: 45em;
  "
>
  <div
    class="container d-flex align-items-center justify-content-between"
    style="max-width: 1440px"
  >
    <!-- Left Side: Title, Description, Button -->
    <div class="mr-5" style="max-width: 450px">
      <h1
        class="display-4 font-weight-bold"
        style="text-shadow: 4px 4px 4px black"
      >
        Control All Your Assets in One Place
      </h1>
      <p class="lead mb-4" style="text-shadow: 2px 2px 4px black">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia
        odio vitae vestibulum vestibulum. Cras vehicula, sapien vel ultricies
        bibendum, justo nulla tincidunt augue, nec consequat risus lacus a urna.
      </p>
      <a class="btn btn-dark btn-lg" href="#">Start Now for Free</a>
    </div>
  </div>
</section>
