<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connect Bank Account</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <!-- Navbar -->
    {% include 'dashboard_navbar.html' %}

    <!-- Main Content -->
    <div class="container mt-5">
      <div class="text-center mb-4">
        <h2 class="mb-3">Connect Your Bank Account</h2>
        <p class="text-muted">
          Choose your bank to securely connect your account.
        </p>
      </div>
      <div class="row justify-content-center">
        <!-- Bank Cards -->
        <div class="col-md-3 mb-3">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title">BNP Paribas</h5>

              <a
                href="{{ url_for('dashboard.bank_login', bank='bnp_paribas') }}"
                class="btn btn-primary btn-block"
                >Connect</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title">Fintro Bank</h5>

              <a
                href="{{ url_for('dashboard.bank_login', bank='fintro') }}"
                class="btn btn-primary btn-block"
                >Connect</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title">HelloBank</h5>

              <a
                href="{{ url_for('dashboard.bank_login', bank='hellobank') }}"
                class="btn btn-primary btn-block"
                >Connect</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
