<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connect Bank Account</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center">Connect Your Bank Account</h2>
      <p class="text-center">Select a bank to continue:</p>
      <div class="d-flex justify-content-around mt-4">
        <a
          href="{{ url_for('dashboard.bank_login', bank='bnp_paribas') }}"
          class="btn btn-primary"
        >
          BNP Paribas
        </a>
        <a
          href="{{ url_for('dashboard.bank_login', bank='fintro') }}"
          class="btn btn-primary"
        >
          Fintro Bank
        </a>
        <a
          href="{{ url_for('dashboard.bank_login', bank='hellobank') }}"
          class="btn btn-primary"
        >
          HelloBank
        </a>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
