<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AccFuse</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body class="m-0">
    <div class="flex-grow-1 p-4">
      <!-- If no accounts are connected, show the Add Bank Account button -->
      {% if not has_accounts %}
        <div class="row">{% include 'connect_bank.html' %}</div>
      {% else %}
        <!-- Otherwise, show the dashboard overview -->
        <div class="row">{% include 'overview.html' %}</div>
    
        <!-- Analytics Section -->
        <div class="row">
          <div class="col-md-8">{% include 'bars.html' %}</div>
          <div class="col-md-4">{% include 'pie.html' %}</div>
        </div>
    
        <!-- Transaction Table -->
        <div class="row mt-4">
          <div class="col-12">{% include 'transactions.html' %}</div>
        </div>
      {% endif %}
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>
