<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Transaction</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Adobe After Effect</td>
          <td>Sat, 20 Apr 2020</td>
          <td>$80.09</td>
          <td><span class="badge badge-success">Deposited</span></td>
        </tr>
        <tr>
          <td>McDonald's</td>
          <td>Fri, 19 Apr 2020</td>
          <td>$7.03</td>
          <td><span class="badge badge-success">Deposited</span></td>
        </tr>
        <tr>
          <td>Levi's</td>
          <td>Tue, 19 Apr 2020</td>
          <td>$80.09</td>
          <td><span class="badge badge-success">Deposited</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
